* {
    border: dashed 1px blue;
    margin: 1in;
    text-align: center;
    background-color: white;
}

header {
    border: solid 10px mediumpurple;
    background-color: limegreen padding: 5px;
}

body {
    border: solid 10px mediumpurple;
    background-color: limegreen;
    padding: 5px;
}

main {
    border: solid 10px mediumpurple;
    background-color: limegreen;
    padding: 5px;
}

footer {
    border: solid 10px mediumpurple;
    background-color: limegreen;
    padding: 5px;
}
