* {
    border: dashed 1px blue;
    padding: 10px;
    margin: 1inch;
    text-align: center;
}

body {
    border: solid 2px red;
    background-color: dimgray;
}

header {
    border: solid 2px pink
}

footer {
    border: solid 2px purple;
}

main {
    border: solid 2px green;
}
