* {
    border: dashed 1px blue;
    margin: 1in;
    text-align: center;
    background-color: white;
}

header {
    border: solid 2px limegreen;
    background-color: mediumpurple;
    padding: 5px;
}

body {
    border: solid 10px limegreen;
    background-color: mediumpurple;
    padding: 2px;
}

main {
    border: solid 10px limegreen;
    background-color: mediumpurple;
    padding: 2px;
}

footer {
    border: solid 10px limegreen;
    background-color: mediumpurple;
    padding: 2px;
}
